.sider 
    .inner-menu 
        ul 
            li
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`${prefixAdmin}/helpers`) Quản lý người giúp việc
            li
                a(href=`${prefixAdmin}/staffs`) Quản lý nhân viên
            li
                a(href=`${prefixAdmin}/locations`) Địa điểm
                    
            
