/* Header */
body .header {
    background: #202020;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End Header */

/* Body */
.body .sider {
    width: 10vw;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 10vw;
    width: calc(100% - 250px);
    margin-top: 80px;
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu li a {
    color: #fff;
    display: block;
    padding: 6px 20px;
    border-bottom: 1px solid #515151;
    text-decoration: none;
}
/* End Sider */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}
/* End Image Preview */

/* Show alert */
[show-alert] {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    min-width: 380px;
    max-width: 380px;
    transition: all linear .5s;
    margin: 0 60%;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 0;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #f9f9f9;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End Show alert */

/* Table show calendar */
.myCalendarElement {
    width:70px;
    height:70px;
}

.busyDate{
    background-color:#cc3300;
    color:#02571c;
}	

.busyDate:hover{
    background-color:#cc3355;
	color:#02571c;
}

.passedDate{
    background-color:#9c9c9c;
}

.normalDate{
    background-color:#99cc99;
	color:#02571c;
}

.normalDate:hover{
    background-color:#99ccbb;
	color:#02571c;
}

.myCalendar th {
	border-radius:5px;
    color:#02571c;
	background-color:#8cc13d;
	text-align: center;
}
/* End Table show calendar */