mixin sort()
    .card.mb-3 
        .card-header Sắp xếp theo 
        .card-body 
            .row 
                .col-4 
                    div(sort)
                        select(
                            class="form-control"
                            name="sort"
                            sort-select 
                        )   
                            option(value="staff_id-asc") CMND tăng dần
                            option(value="staff_id-desc") CMND giảm dần
                            option(value="fullName-asc") Tên tăng dần
                            option(value="fullName-desc") Tên giảm dần

                        button(
                            class="btn btn-danger mt-2"
                            sort-clear
                        ) Clear
